<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Heading</title>
</head>
<body>
    <div class="container d-flex my-5 bg-white">
        <div class="pt-5 mx-5">
            <h3>This First Heading <span style="color: grey;"">Will Catch Your Eye</span></h3>
            <p style="color: grey;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi itaque molestias distinctio facere, minima natus repudiandae non sequi. A, in deserunt quas consequatur nobis perspiciatis esse dolorum assumenda nesciunt exercitationem!</p>
        </div>
        <div class="my-5 px-6 mx-3">
            <img style="width: 200px; height: auto;" class="rounded-circle" src="./assets/img/1.jpg" alt="">
        </div>
    </div>
</body>
</html>