<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="bg-white text-center m-5" style="height:250px;">
        <tr>
            <td style="width: 30%;">
                <img src="https://media.istockphoto.com/id/492595743/photo/money-pile-bundles-of-100-usd-notes.jpg?s=612x612&w=0&k=20&c=JkIOyeONyYnamOzEuJs9xflycKVlS0zQcbxaLCtQMzI=" class="rounded-circle" height="100px">
            </td>
            <td style="width: 70%;">
                <h2>The Second Heading Is Pretty Cool Too.</h2>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </td>
        </tr>
    </table>
</body>
</html>